@import "variables";

/**
 * Section: General Helpers
 */

// Mixin: General transition

@mixin general-transition() {
	@media (min-width: $screen-md-min) {
		transition: all .5s ease !important;
	}
}

@mixin general-box-shadow() {
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
}

@mixin general-box-shadow-3() {
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

@mixin general-box-shadow-2() {
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

@mixin general-box-shadow-inner() {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}

// Mixin: Fix for scroll

@mixin scrolled {
	overflow-scrolling: touch;
	transform: translateZ(0px);
}

// Mixin: Hide Scroll

@mixin hide-scroll {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	
	&::-webkit-scrollbar {
		display: none;
	}
}

.mb-default {
	margin-bottom: 30px;
}

.-mb-default {
	margin-bottom: -30px;
}

.mb-default-2 {
	margin-bottom: 60px;
}

.-mb-default-2 {
	margin-bottom: -60px;
}

.col-xl-2-4 {
	@include media-breakpoint-up(xl) {
		flex: 0 0 calc(100% / 5);
		max-width: calc(100% / 5);
	}
}

.row.style-large {
	@include media-breakpoint-up(md) {
		margin-left: -50px;
		margin-right: -50px;
		
		.col-12 {
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}