/**
 * Section: Imports
 */
// External Imports
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');
// Libs Imports
@import "bootstrap-config";
@import "../font/circe/stylesheet.css";
@import "../font/open-sans/stylesheet.css";
@import "../../../bower_components/bootstrap/scss/bootstrap-reboot";
@import "../../../bower_components/bootstrap/scss/bootstrap-grid";
@import "../../../bower_components/bootstrap/scss/utilities";
@import "../../../bower_components/slick-carousel/slick/slick.scss";
@import "helpers";

/**
 * Section: Styles
 */

* {
	outline: none !important;
}

html {
	overflow-x: hidden;
	
	&.is-overlay {
		overflow: hidden;
	}
}

body {
	color: $color-body;
	font-family: $value-font-family;
	overflow-x: hidden;
}

a {
	color: $color-body;
	text-decoration: none;
	@include general-transition;
	
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $color-primary;
	}
}

/**
 * Section: Section
 */

.section {
	position: relative;
	
	// Styles
	
	&.style-center-title {
		.section-head {
			.inner {
				justify-content: center;
			}
			
			.title {
				text-transform: uppercase;
				font-weight: 400;
				font-size: 23px;
			}
		}
	}
	
	&.style-bg-gray {
		background-color: #F5F5F5;
	}
	
	&.style-bg-primary {
		background-color: $color-primary;
	}
	
	&.default-padding-inner {
		padding: 70px 0;
	}
	
	&.default-padding {
		margin: 70px 0;
	}
	
	&.color-pink {
		background-color: $color-pink;
		
		a {
			color: $color-pink-2;
			
			&:hover {
				color: $color-body;
			}
		}
	}
	
	&.color-black-bg {
		background-color: #000000;
		color: #FFFFFF;
		
		a {
			color: $color-pink-3;
			
			&:hover {
				color: $color-pink;
			}
		}
		
		.products {
			opacity: 0.5;
		}
	}
	
	.section-head {
		margin-bottom: 30px;
		
		.inner {
			display: flex;
			align-items: center;
			
			.title {
				h2 {
					font-weight: 600;
					font-size: 24px;
					line-height: 1.2em;
					margin: 0;
				}
			}
			
			.actions {
				margin-left: auto;
				
				.action {
					font-weight: 700;
					font-size: 14px;
					line-height: 1.2em;
				}
				
				a {
					color: $color-primary;
					
					&:hover {
						color: #000000;
					}
				}
			}
		}
	}
	
	.section-more {
		text-align: center;
		margin-top: 70px;
		font-weight: 600;
		font-size: 18px;
		
		a {
			color: $color-primary;
			text-transform: uppercase;
			
			&:hover {
				color: $color-body;
			}
		}
	}
	
	&.style-big-head {
		padding: 100px 0;
		
		.section-head {
			margin-bottom: 70px;
			
			.title {
				width: 100%;
				text-align: center;
				color: $color-primary;
				text-transform: uppercase;
				letter-spacing: 0.04em;
				
				h2 {
					font-weight: 600;
					font-size: 35px;
				}
			}
		}
	}
	
	// Bit Tooltip
	
	&.bit-tooltip {
		background-color: $color-bg-3;
		padding: 10px 0;
		vertical-align: middle;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		
		p {
			margin: 0;
			
			a {
				margin-left: 10px;
			}
		}
	}
	
	// Main
	
	&.main {
		overflow: hidden;
	}
	
	// Bg
	
	&.style-bg {
		position: relative;
		overflow: hidden;
		padding-bottom: 200px;
		padding-top: 70px;
		
		&:after {
			height: 20px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			background: linear-gradient(to bottom, transparent 50%, rgba(#000000, 0.1));
			z-index: 1;
		}
		
		.bg {
			position: absolute;
			bottom: -435px;
			right: 0;
			width: 100%;
			text-align: right;
			z-index: 1;
		}
		
		.section-body {
			z-index: 1;
			position: relative;
		}
	}
	
	// Gallery
	
	&.gallery {
		.item {
			height: 100%;
			min-height: 160px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
			img {
				width: 0;
				height: 0;
			}
		}
	}
	
	// Mobile Header
	
	&.mobile-header {
		padding: 30px 0;
		@include general-box-shadow;
		z-index: 101;
		display: block;
		position: relative;
		background-color: #FFFFFF;
		
		@include media-breakpoint-up(lg) {
			display: none;
		}
		
		.inner {
			display: flex;
			align-items: center;
			
			.toggle {
				margin-left: auto;
			}
		}
	}
	
	// Mobile navigation
	
	&.mobile-navigation {
		background-color: #FFFFFF;
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 99999;
		max-height: 100vh;
		overflow-y: auto;
		
		&.is-shown {
			display: block;
		}
		
		.top {
			padding: 30px 0;
			@include general-box-shadow;
			z-index: 101;
			display: block;
			position: relative;
			background-color: #FFFFFF;
			margin-bottom: 30px;
			
			.inner {
				display: flex;
				align-items: center;
				
				.toggle {
					margin-left: auto;
				}
			}
		}
		
		& > .container > .inner {
			display: flex;
			flex-flow: column nowrap;
			height: calc(100vh - 97px - 30px) !important;
			
			.navigation {
				margin: auto 0;
				font-size: 20px;
				line-height: 1em;
				font-weight: 400;
				
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					margin-bottom: -15px;
					text-align: center;
					
					li {
						margin-bottom: 15px;
					}
				}
			}
			
			.search {
				margin: 30px 0;
			}
		}
	}
	
	// Header
	
	&.header {
		background-color: #FFFFFF;
		z-index: 100;
		display: block;
		position: relative;
		@include general-box-shadow;
		
		// Home
		
		&.style-home {
			display: none;
			
			@include media-breakpoint-up(lg) {
				display: block;
			}
			
			.inner {
				display: flex;
				align-items: center;
				padding: 15px 0;
				
				.navigation {
					margin-left: auto;
					margin-right: auto;
					font-size: 20px;
					line-height: 1em;
					font-weight: 400;
					
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						align-items: center;
						
						li:not(:last-child) {
							margin-right: 50px;
						}
					}
				}
				
				.search {
					margin-left: 50px;
				}
			}
			
			.search-form {
				width: 250px;
				@include general-transition;
				
				input {
					&::placeholder {
						@include general-transition;
					}
				}
				
				&:not(:hover):not(.is-collapsed) {
					width: 46px;
					
					input {
						padding-left: 0;
						padding-right: 0;
						
						&::placeholder {
							opacity: 0;
						}
					}
					
					button {
						left: 50% !important;
						top: 50% !important;
						transform: translate(-50%, -50%);
					}
				}
				
				@include media-breakpoint-up(xl) {
					width: 430px;
				}
				
				button {
					@include general-transition;
				}
				
				&.is-shown {
					visibility: visible;
					opacity: 1;
				}
				
				.form-field {
					max-width: none;
				}
			}
		}
		
		// Default
		
		&.style-default {
			@include general-box-shadow;
			display: none;
			
			@include media-breakpoint-up(lg) {
				display: block;
			}
			
			.inner {
				display: flex;
				flex-wrap: wrap;
				padding: 20px 0;
				text-align: center;
				
				.logo {
					width: 100%;
					margin-bottom: 20px;
				}
				
				.search {
					width: 100%;
					display: flex;
					justify-content: center;
				}
				
				@include media-breakpoint-up(sm) {
					flex-wrap: nowrap;
					align-items: center;
					
					.logo {
						width: auto;
						flex: none;
						margin-bottom: 0;
						margin-right: 50px;
						
						@include media-breakpoint-up(lg) {
							margin-right: 100px;
						}
					}
					
					.search {
						width: 100%;
					}
				}
			}
		}
		
		// New
		
		&.style-new {
			display: none;
			
			@include media-breakpoint-up(lg) {
				display: block;
			}
			
			.inner {
				display: flex;
				align-items: center;
				padding: 15px 50px;
				
				.navigation {
					font-size: 11px;
					line-height: 1em;
					font-weight: 600;
					text-transform: uppercase;
					
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						align-items: center;
						
						li:not(:last-child) {
							margin-right: 40px;
						}
					}
					
					li.is-active {
						> a {
							color: $color-primary;
							
							&:after {
								width: calc(100% + 10px);
							}
						}
					}
					
					a {
						position: relative;
						
						&:after {
							content: '';
							display: block;
							width: 0;
							position: absolute;
							left: -5px;
							right: -5px;
							margin: 0 auto;
							top: 50%;
							transform: translateY(-50%);
							height: 1px;
							background-color: $color-primary;
							@include general-transition;
						}
					}
				}
				
				.left {
					flex: 1;
					display: flex;
					align-items: center;
				}
				
				.logo {
					flex: 1;
					text-align: center;
				}
				
				.right {
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					
					.search-form {
						margin-left: 40px;
						font-size: 12px;
						display: none;
						
						@include media-breakpoint-up(xl) {
							display: block;
						}
						
						button {
							color: $color-body;
						}
					}
				}
			}
		}
		
	}
	
	// General Slider
	
	&.general-slider {
		position: relative;
		
		.item {
			img {
				margin: 0 auto;
				max-width: 100%;
				max-height: 430px;
			}
		}
		
		.general-slider-slick-arrows {
			position: absolute;
			height: 0;
			overflow: visible;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex !important;
			align-items: center;
			
			.slick-arrow {
				z-index: 1;
				
				&.prev, &.next {
					font-size: 50px;
					color: #8A8A8A;
					display: block;
					background: none;
					border: none;
					z-index: 1;
					cursor: pointer;
					padding: 0;
					margin: 0;
					@include general-transition;
					
					@include media-breakpoint-up(md) {
						font-size: 70px;
					}
					
					&:hover {
						color: $color-primary;
					}
					
					img {
						filter: #{"grayscale(100%)"};
						@include general-transition;
					}
					
					&:hover {
						img {
							filter: #{"grayscale(0%)"};
						}
					}
				}
				
				&.prev {
					margin-right: auto;
				}
				
				&.next {
					margin-left: auto;
				}
			}
		}
	}
	
	// General Links
	
	&.general-links {
		background-color: #F8F8F8;
		border-top: 1px solid #E2E2E2;
		border-bottom: 1px solid #E2E2E2;
		box-shadow: 3px 5px 21px 0 rgba(35, 35, 35, 0.15);
		z-index: 2;
		display: block;
		position: relative;
		
		.inner {
			white-space: nowrap;
			overflow: auto;
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 600;
			
			@include media-breakpoint-up(md) {
				font-size: 20px;
			}
			
			a {
				color: $color-primary;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				//border-bottom: 1px solid #E2E2E2;
				padding: 0 10px;
				line-height: 1em;
				
				@include media-breakpoint-up(md) {
					padding: 0 20px;
				}
				
				&:hover {
					background-color: #F0F0F0;
				}
			}
			
			li {
				display: block;
				width: 100%;
				text-align: center;
				
				&:not(:first-child) {
					border-left: 1px solid #E1E1E1;
				}
			}
		}
	}
	
	// General Navigation
	
	&.general-navigation {
		box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
		display: block;
		z-index: 1;
		position: relative;
		
		.inner {
			white-space: nowrap;
			overflow: auto;
			display: flex;
		}
		
		ul {
			margin: 0 auto;
			padding: 0;
			list-style: none;
			display: inline-flex;
			align-items: center;
			font-size: 18px;
			justify-content: center;
			
			a {
				height: 50px;
				display: flex;
				align-items: center;
				position: relative;
				
				&:after {
					display: block;
					width: 0;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					opacity: 0;
					height: 4px;
					background-color: $color-primary;
					content: '';
					@include general-transition;
				}
			}
			
			li {
				display: block;
				text-align: center;
				
				&.is-active, &:hover {
					a {
						&:after {
							width: 100%;
							opacity: 1;
						}
					}
				}
				
				&:not(:last-child) {
					margin-right: 40px;
					
					@include media-breakpoint-up(sm) {
						margin-right: 50px;
					}
				}
			}
		}
	}
	
	// Items Carousel
	
	&.items-carousel-wrapper {
		margin: -15px;
		position: relative;
		
		.slick-slide {
			margin: 15px;
		}
		
		&.style-image {
			margin: -15px -7.5px;
			
			.slick-track {
				float: left;
			}
			
			.slick-slide {
				background-size: auto 100%;
				background-position: center;
				background-repeat: no-repeat;
				border: 1px solid $color-border;
				height: 80px;
				margin-left: 7.5px;
				margin-right: 7.5px;
				
				&.slick-current {
					border-color: $color-primary;
				}
				
				img {
					height: 0;
					width: 0;
				}
			}
		}
		
		.items-carousel-slick-arrows {
			height: 0;
			overflow: visible;
			position: absolute;
			left: -10px;
			right: -10px;
			top: 40%;
			display: flex !important;
			align-items: center;
			
			.slick-arrow {
				z-index: 1;
				font-size: 30px;
				color: #000000;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;
				margin: 0;
				@include general-transition;
				background-color: #FFFFFF;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				@include general-box-shadow-2;
				
				&:hover {
					color: $color-primary;
				}
				
				img {
					filter: #{"grayscale(100%)"};
					@include general-transition;
				}
				
				&:hover {
					img {
						filter: #{"grayscale(0%)"};
					}
				}
				
				&.prev {
					margin-right: auto;
				}
				
				&.next {
					margin-left: auto;
				}
			}
			
			&.style-small {
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				
				.slick-arrow {
					width: 30px;
					height: 30px;
					font-size: 20px;
				}
			}
		}
	}
	
	// Big Banners Slider
	
	&.big-banners-slider-wrapper {
		position: relative;
		
		.slick-list {
			overflow: visible;
		}
		
		.big-banners-slider-slick-arrows {
			position: absolute;
			left: -10px;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			display: flex !important;
			align-items: center;
			
			.slick-arrow {
				z-index: 1;
				
				&.prev, &.next {
					font-size: 30px;
					color: #000000;
					display: flex;
					align-items: center;
					justify-content: center;
					background: none;
					border: none;
					z-index: 1;
					cursor: pointer;
					padding: 0;
					margin: 0;
					@include general-transition;
					background-color: #FFFFFF;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					@include general-box-shadow-2;
					
					&:hover {
						color: $color-primary;
					}
					
					img {
						filter: #{"grayscale(100%)"};
						@include general-transition;
					}
					
					&:hover {
						img {
							filter: #{"grayscale(0%)"};
						}
					}
				}
				
				&.prev {
					margin-right: auto;
				}
				
				&.next {
					margin-left: auto;
				}
			}
		}
	}
	
	// Footer
	
	&.footer {
		font-family: $value-font-family-2;
		font-size: 14px;
		color: #7E7E7E;
		border-top: 1px solid #F2F2F2;
		
		.inner {
			padding: 40px 0 75px 0;
		}
		
		a {
			color: #7E7E7E;
		}
		
		.widgets {
			margin-bottom: 75px;
		}
		
		.top {
			border-bottom: 1px solid #F2F2F2;
			padding-bottom: 30px;
			margin-bottom: 30px;
			
			.logo {
				margin-bottom: 30px;
				display: flex;
				align-items: center;
			}
			
			.counters {
				display: flex;
				align-items: center;
				
				.item {
					margin-right: 30px;
					
					&:last-child {
						margin-right: 0;
					}
					
					.value {
						color: $color-primary;
						font-size: 17px;
						font-weight: 600;
					}
					
					.title {
						color: $color-body;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 12px;
					}
				}
			}
			
			@include media-breakpoint-up(md) {
				display: flex;
				
				.logo {
					margin-bottom: 0;
				}
				
				.counters {
					margin-left: auto;
					
					.item {
						display: flex;
						align-items: flex-end;
						line-height: 1em;
						
						.value {
							margin-right: 10px;
							font-size: 20px;
							line-height: 1em;
						}
					}
				}
			}
			
		}
		
		.bottom {
			border-top: 1px solid #EBEBEB;
			padding-top: 30px;
			
			@include media-breakpoint-up(md) {
				display: flex;
			}
			
			.left {
				margin-bottom: 30px;
				
				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}
			}
			
			.right {
				@include media-breakpoint-up(md) {
					margin-left: auto;
					display: flex;
					flex-flow: column wrap;
					align-items: flex-end;
				}
			}
			
			.navigation {
				margin-bottom: 30px;
				
				a {
					color: #000000;
					font-weight: 600;
					
					&:hover {
						color: $color-primary;
					}
				}
				
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					
					@include media-breakpoint-up(md) {
						display: flex;
						align-items: center;
					}
					
					li {
						margin-bottom: 15px;
						
						&:not(:last-child) {
							margin-right: 45px;
						}
					}
				}
			}
			
			.copyright {
				color: #9EA5B1;
				
				a {
					color: $color-primary;
				}
			}
			
			.language-switcher {
				margin-bottom: 30px;
				font-size: 12px;
				line-height: 24px;
				text-transform: uppercase;
				position: relative;
				font-weight: 400;
				display: inline-block;
				
				&:hover {
					.languages {
						display: block;
					}
				}
				
				.language {
					width: 100%;
					display: block;
					
					@include media-breakpoint-up(sm) {
						text-align: right;
					}
					
					.title {
						color: #000000;
						@include general-transition;
					}
					
					.icon {
						margin-left: 5px;
					}
				}
				
				.languages {
					.language {
						text-align: left;
					}
				}
			}
			
			.socials {
				display: flex;
				align-items: center;
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					height: 35px;
					width: 35px;
					border: 1px solid $color-primary;
					color: #969696;
					
					&:hover {
						background-color: $color-primary;
						color: #FFFFFF;
					}
					
					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}
		}
	}
	
	// Subscribe
	
	&.after-subscribe {
		padding-top: calc(164px / 2 + 70px);
	}
	
	&.before-subscribe {
		padding-bottom: calc(164px / 2 + 70px);
	}
	
	&.subscribe {
		position: relative;
		display: block;
		margin-bottom: calc(-164px / 2);
		
		.inner {
			background-color: #FFFFFF;
			border-radius: 5px;
			border: 1px solid $color-primary;
			padding: 30px;
			text-align: center;
			
			h2 {
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 400;
				margin: 0;
				margin-bottom: 20px;
			}
			
			form {
				margin: 0 auto;
			}
			
			@include media-breakpoint-down(sm) {
				.ui.form-field.style-with-submit.style-section {
					display: block;
					
					input {
						margin-right: 0;
					}
					
					button {
						margin-top: 15px;
						display: flex;
						width: 100%;
					}
				}
			}
		}
		
		.after-subscribe {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			
			.icon {
				color: $color-primary;
				font-size: 100px;
				line-height: 40px;
				margin-right: 20px;
				position: relative;
				top: -5px;
			}
		}
		
		&.style-footer {
			margin-bottom: 0;
			margin-top: calc(-164px / 2);
			
			&:after {
				display: block;
				position: absolute;
				bottom: -1px;
				width: 100%;
				height: 1px;
				background-color: #FFFFFF;
				content: '';
			}
			
			.inner {
				border-color: $color-pink;
			}
			
			&.color-black {
				.inner {
					border-color: #000000;
				}
			}
		}
	}
	
	// Breadcrumbs
	
	&.breadcrumbs {
		padding: 25px 0;
	}
	
	// Catalog Settings
	
	&.catalog-settings {
		margin-bottom: 25px;
		.inner {
			display: flex;
			align-items: center;
			
			.view {
				margin-left: auto;
				color: $color-body-4;
				display: flex;
				align-items: center;
				
				.toggle {
					margin-right: 15px;
					cursor: pointer;
					@include general-transition;
					font-size: 20px;
					
					&:last-child {
						margin-right: 0;
					}
					
					&.is-selected {
						color: $color-body;
					}
					
					&:hover {
						color: $color-body;
					}
				}
			}
		}
	}
	
	// Publisher Hero
	
	&.publisher-hero {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 100px 0;
		
		&.color-pink {
			.subtitle {
				color: $color-pink-2;
			}
		}
		
		&.color-pink-2 {
			.subtitle {
				color: $color-pink-3;
			}
			
			.links {
				a {
					color: $color-pink-3;
				}
			}
		}
		
		&.color-pink-3 {
			color: #FFFFFF;
			
			.subtitle {
				color: $color-pink-3;
			}
			
			.info {
				.socials {
					a {
						background-color: #FFFFFF;
						border-color: #FFFFFF;
						color: $color-body;
						
						&:hover {
							color: #FFFFFF;
						}
					}
				}
			}
		}
		
		.container {
			position: relative;
		}
		
		.logo {
			position: absolute;
			right: 15px;
			top: 0;
		}
		
		.logo-new {
			margin-bottom: 20px;
			
			img {
				display: block;
			}
		}
		
		.image {
			img {
				width: 0;
				height: 0;
			}
		}
		
		.info {
			@include media-breakpoint-up(lg) {
				margin-left: 100px;
				margin-right: 100px;
				max-width: 500px;
			}
			
			@include media-breakpoint-up(xl) {
				margin-left: 450px;
				margin-right: 0;
			}
			
			.title {
				font-size: 26px;
				text-transform: uppercase;
				font-weight: 600;
				line-height: 1.2em;
				margin: 0;
				margin-bottom: 20px;
			}
			
			.subtitle {
				margin-bottom: 40px;
				text-decoration: underline;
				font-size: 14px;
				line-height: 24px;
				font-family: $value-font-family-2;
			}
			
			.description {
				font-size: 14px;
				line-height: 24px;
				font-family: $value-font-family-2;
				margin: 0;
				margin-bottom: 40px;
			}
			
			.socials {
				display: flex;
				align-items: center;
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					height: 35px;
					width: 35px;
					border: 1px solid $color-body;
					background-color: $color-body;
					color: #FFFFFF;
					
					&:hover {
						background-color: transparent;
						color: $color-body;
					}
					
					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}
			
			.links {
				a {
					text-decoration: underline;
				}
			}
		}
	}
	
	// Product
	
	&.product {
		> .info {
			.top {
				display: flex;
				
				.publisher {
					margin-left: auto;
					padding-left: 10px;
				}
			}
			
			.publisher {
				//position: absolute;
				//right: 0;
				//top: 0;
				display: none;
				
				@include media-breakpoint-up(lg) {
					display: block;
				}
			}
			
			.meta {
				margin-bottom: 30px;
				
				.title {
					text-transform: uppercase;
					font-size: 28px;
					margin-bottom: 0;
					line-height: 1.3em;
				}
				
				.author {
					margin-bottom: 10px;
					a {
						color: $color-primary;
						font-size: 18px;
						font-weight: 400;
						margin-bottom: 0;
					}
				}
				
				.tags {
				
				}
			}
			
			.buy {
				margin-bottom: 30px;
			}
			
			.desc {
				margin-bottom: 35px;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.02em;
				
				.description-2 {
					font-weight: 300;
				}
				
				.more {
					color: $color-primary;
					text-decoration: underline;
					font-weight: 300;
					font-size: 18px;
				}
			}
			
			.bottom-tags {
				margin-bottom: 40px;
			}
		}
	}
	
	// Sidebar
	
	&.sidebar {
		
		// Sidebar Product
		
		&.style-product {
		
		}
		
	}
	
	// Hero Image
	
	&.hero-image {
		height: 380px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		img {
			width: 0;
			height: 0;
		}
	}
	
	// Partners
	
	&.partners {
		.item {
			text-align: center;
			
			.image {
				a {
					height: 150px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
				}
				
				&:after {
					width: 50px;
					height: 1px;
					background-color: $color-primary;
					content: '';
					display: block;
					margin: 30px auto;
				}
			}
			
			.description {
				font-size: 16px;
				line-height: 24px;
				font-weight: 300;
				padding: 0 30px;
			}
		}
	}
	
	// Team
	
	&.team {
		.team-item {
			background-color: #FFFFFF;
			height: 100%;
			@include general-box-shadow;
			
			.image {
				height: 180px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				display: block;
				position: relative;
				
				img {
					width: 0;
					height: 0;
				}
				
				.status {
					width: 150px;
					height: 70px;
					display: flex;
					align-items: center;
					padding: 0 20px;
					font-size: 22px;
					line-height: 24px;
					font-weight: 600;
					background-color: $color-primary;
					color: #FFFFFF;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			
			.content {
				padding: 30px 20px;
				
				.name {
					color: $color-primary;
					font-style: italic;
					font-weight: 600;
					font-size: 18px;
				}
				
				.contacts {
					margin-bottom: 30px;
					
					.item {
						word-wrap: break-word;
					}
					
					strong {
						white-space: nowrap;
						margin-right: 5px;
					}
				}
				
				p {
					color: $color-body-2;
				}
			}
			
			&.style-2 {
				.image {
					height: 250px;
					
					.status {
						width: 160px;
						font-size: 18px;
						line-height: 24px;
						font-weight: 400;
					}
					
					.status {
						bottom: 20px;
						top: auto;
					}
				}
				
				.content {
					.name {
						font-style: normal;
						font-weight: 400;
					}
					
					.description {
						text-transform: uppercase;
						font-size: 13px;
					}
				}
			}
		}
	}
	
	// Contacts
	
	&.contacts {
		font-weight: 300;
		
		a {
			color: $color-primary;
			font-weight: 400;
		}
		
		.info {
			margin-bottom: 100px;
		}
		
		.contacts {
			margin-bottom: 30px;
			
			.item {
				margin-bottom: 15px;
				display: flex;
				align-items: center;
				
				.icon {
					margin-right: 15px;
					color: $color-primary;
					border-radius: 50%;
					border: 1px solid $color-primary;
					width: 34px;
					height: 34px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 25px;
					
					i {
						position: relative;
						top: 2px;
					}
				}
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	// Instagram Page
	
	&.instagram-page {
		.images {
			.image {
				a {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					display: block;
					width: 100%;
					height: 235px;
				}
				
				img {
					width: 0;
					height: 0;
				}
			}
		}
		
		.sidebar {
			p {
				margin-bottom: 30px;
				padding: 0;
				font-weight: 300;
			}
			
			a {
				color: $color-primary;
				font-weight: 400;
			}
			
			.author {
				margin-bottom: 30px;
				max-width: 250px;
				max-height: 250px;
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
				box-sizing: content-box;
				
				@include media-breakpoint-up(md) {
					padding: 0 30px;
				}
			}
		}
	}
	
	// Social Invite
	
	&.social-invite {
		color: #FFFFFF;
		overflow: hidden;
		position: relative;
		
		.bg {
			position: absolute;
			bottom: -250px;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
		}
		
		.section-head {
			margin-bottom: 0;
			
			.title {
				text-align: left;
				color: #FFFFFF;
				line-height: 1em;
			}
		}
		
		.section-body {
			font-size: 20px;
			line-height: 28px;
			font-weight: 300;
			
			.content {
				margin-bottom: 30px;
			}
			
			.socials {
				display: flex;
				align-items: center;
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					height: 35px;
					width: 35px;
					font-size: 16px;
					border: 1px solid #FFFFFF;
					color: #FFFFFF;
					
					&:hover {
						border-color: $color-primary-2;
						background-color: $color-primary-2;
						color: #FFFFFF;
					}
					
					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}
		}
	}
	
	// Hero About
	
	&.hero-about {
		overflow: hidden;
		position: relative;
		
		&:after {
			height: 20px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			background: linear-gradient(to bottom, transparent 50%, rgba(#000000, 0.1));
			z-index: 1;
		}
		
		.bg {
			position: absolute;
			bottom: -435px;
			right: 0;
			width: 100%;
			text-align: right;
			z-index: 1;
		}
		
		.content {
			padding: 50px 30px 50px;
			text-align: center;
			
			@include media-breakpoint-up(lg) {
				padding: 50px 30px 200px;
			}
			
			p {
				font-weight: 300;
				margin-bottom: 30px;
			}
			
			h2 {
				&:after {
					width: 50px;
					height: 1px;
					content: '';
					display: block;
					background-color: $color-primary;
					margin: 30px auto;
				}
			}
			
			.author {
				border-radius: 50%;
				margin-bottom: 30px;
				max-width: 100%;
			}
			
			blockquote {
				font-family: $value-font-family-2;
				
				p {
					font-weight: 700;
					font-style: italic;
					font-size: 24px;
					line-height: 36px;
					margin: 0;
					
					&:after {
						width: 50px;
						height: 1px;
						content: '';
						display: block;
						background-color: $color-primary;
						margin: 15px auto;
					}
				}
				
				.icon {
					margin-bottom: 15px;
				}
				
				strong {
					color: $color-primary;
					font-size: 18px;
					font-weight: 700;
					font-style: italic;
				}
			}
		}
		
		.sidebar {
			padding: 50px 30px 50px;
			width: 100%;
			flex: none;
			position: relative;
			
			@include media-breakpoint-up(lg) {
				padding: 50px 30px 200px;
				width: 370px;
				background-color: $color-bg;
				
				&:after {
					width: 100vw;
					height: 100%;
					content: '';
					background-color: $color-bg;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
				}
			}
			
			.time-line {
				.item {
					margin-bottom: 30px;
					
					.value {
						font-size: 25px;
						font-weight: 700;
						color: $color-primary;
					}
					
					.title {
						color: $color-body-3;
					}
				}
				
				.final-item {
					color: $color-primary;
					font-weight: 700;
					font-size: 18px;
					font-style: italic;
					
					&:after {
						width: 50px;
						height: 1px;
						content: '';
						display: block;
						margin-top: 30px;
						background-color: $color-primary;
					}
				}
			}
		}
		
		> .sidebar {
			display: none;
			
			@media (min-width: 1920px) {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 370px;
			}
		}
		
		> .container > .inner {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			
			@include media-breakpoint-up(lg) {
				flex-wrap: nowrap;
			}
			
			.sidebar {
				@media (min-width: 1920px) {
					display: none;
				}
			}
		}
		
		&.style-2 {
			.content {
				text-align: left;
				
				h2 {
					color: $color-primary;
					font-size: 17px;
					text-transform: uppercase;
					margin-bottom: 30px;
					
					&:after {
						display: none;
					}
				}
				
				p {
					font-weight: 400;
				}
				
				ul {
					margin-left: 0;
					padding-left: 20px;
					text-transform: uppercase;
					margin-bottom: 30px;
					
					li {
						margin-bottom: 5px;
						
						span {
							color: $color-primary;
						}
					}
				}
			}
		}
	}
	
	// Hero Post Image
	
	&.hero-post-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #FFFFFF;
		position: relative;
		
		&:before {
			height: 50%;
			width: 100%;
			background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
			content: '';
			z-index: 0;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		
		a {
			color: $color-primary;
		}
		
		.image {
			img {
				width: 0;
				height: 0;
			}
		}
		
		.inner {
			padding: 420px 0 60px;
		}
		
		.date {
			font-size: 14px;
			font-weight: 300;
			margin-bottom: 20px;
		}
		
		.title, h1 {
			font-size: 44px;
			line-height: 38px;
			letter-spacing: 0.01em;
			margin-bottom: 20px;
		}
		
		.meta {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.16em;
		}
	}
	
}

/**
 * Section: Page
 */

.page {
	&.events {
		display: flex;
		margin: 25px 0 50px;
		flex-flow: row wrap;
		
		@include media-breakpoint-up(lg) {
			flex-flow: row nowrap;
		}
		
		> .calendar {
			width: 200px;
			flex: none;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
			
			@include media-breakpoint-up(sm) {
				margin-right: auto;
				margin-left: 0;
			}
			
			@include media-breakpoint-up(md) {
				margin-right: 30px;
			}
		}
		
		> .events {
			position: relative;
			flex: none;
			margin-bottom: 30px;
			width: 100%;
			
			@include media-breakpoint-up(sm) {
				width: 300px;
			}
			
			@include media-breakpoint-up(md) {
				// flex: 1;
			}
			
			@include media-breakpoint-up(lg) {
				margin-right: 30px;
			}
			
			@include media-breakpoint-up(xl) {
				flex: none;
			}
			
			&:after {
				content: '';
				display: block;
				background-color: $color-body-4;
				width: 1px;
				height: 100%;
				position: absolute;
				right: 15px;
				top: 0;
				z-index: -1;
			}
			
			.event {
				margin-bottom: 25px;
				display: flex;
				align-items: center;
				cursor: pointer;
				width: 100%;
				box-sizing: border-box;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				&:hover {
					.title {
						color: $color-primary;
					}
				}
				
				&.selected {
					.date {
						background-color: $color-primary;
						color: #FFFFFF;
						border-color: $color-primary;
					}
				}
				
				.title {
					font-weight: 700;
					font-size: 14px;
					line-height: 1.4em;
					margin-right: 30px;
					@include general-transition;
					
					span {
						color: $color-primary;
					}
				}
				
				.date {
					flex: none;
					margin-left: auto;
					width: 30px;
					height: 30px;
					padding-top: 2px;
					border-radius: 50%;
					border: 1px solid $color-body-4;
					color: $color-body-4;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #FFFFFF;
				}
			}
		}
		
		> .event {
			border: 1px solid $color-primary;
			border-radius: 40px;
			padding: 25px 45px;
			width: 100%;
			box-sizing: border-box;
			
			@include media-breakpoint-up(lg) {
				padding: 25px;
			}
			
			@include media-breakpoint-up(xl) {
				padding: 25px 45px;
			}
			
			.meta {
				display: flex;
				align-items: center;
				color: $color-primary;
				font-size: 16px;
				margin-bottom: 25px;
				
				.date {
					margin-right: 20px;
				}
				
				.address {
					margin-left: auto;
				}
			}
			
			.info-1 {
				display: flex;
				align-items: center;
				margin-bottom: 25px;
				flex-flow: row wrap;
				
				@include media-breakpoint-up(sm) {
					flex-flow: row nowrap;
				}
				
				.author {
					border-radius: 50%;
					width: 100px;
					height: 100px;
					overflow: hidden;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					flex: none;
					margin-right: 25px;
					margin-bottom: 25px;
					display: none;
					
					@include media-breakpoint-up(sm) {
						display: block;
						margin-bottom: 0;
					}
					
					img {
						width: 0;
						height: 0;
					}
				}
				
				.title {
					font-size: 17px;
					line-height: 1.6em;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
			
			.info-2 {
				display: flex;
				align-items: flex-end;
				margin-bottom: 20px;
				flex-flow: row wrap;
				
				@include media-breakpoint-up(sm) {
					flex-flow: row nowrap;
				}
				
				.image {
					margin-bottom: 25px;
					width: 100%;
					
					@include media-breakpoint-up(sm) {
						margin-right: 25px;
						margin-bottom: 0;
					}
					
					@include media-breakpoint-up(md) {
						width: auto;
					}
					
					img {
					}
				}
				
				.more {
					width: 100%;
					
					.buy {
						margin-bottom: 25px;
					}
					
					.share {
						.title {
							font-size: 16px;
							margin-bottom: 10px;
							color: $color-primary;
						}
						
						a {
							width: 35px;
							height: 35px;
							color: $color-body;
							background-color: #E5E5E5;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							margin-right: 5px;
							margin-right: 5px;
							
							&:hover {
								background-color: $color-primary;
								color: #FFFFFF;
							}
						}
					}
				}
			}
			
			.info-3 {
				font-size: 16px;
				color: $color-primary;
				margin-bottom: 25px;
			}
			
			.about {
				font-weight: 300;
				font-size: 17px;
				
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		&.style-2 {
			display: block;
			
			.bg {
				position: absolute;
				right: 0;
				top: -200px;
				z-index: -1;
				display: none;
				
				@media (min-width: 1150px) {
					display: block;
				}
				
				img {
					display: block;
					position: relative;
					max-width: 800px;
				}
			}
			
			> .calendar {
				margin-bottom: 100px;
			}
			
			> .events {
				width: 100%;
				
				&:after {
					left: 15px;
					right: auto;
				}
				
				.event {
					.date {
						order: -1;
						margin-left: 0;
						margin-right: 15px;
					}
				}
			}
			
			> .event {
				border: none;
				padding: 0;
				margin-bottom: 100px;
				
				@media (min-width: 1150px) {
					padding-right: 150px;
				}
				
				.back {
					margin-bottom: 30px;
					
					a {
						color: $color-body-4;
						
						&:hover {
							color: $color-primary;
						}
					}
				}
				
				.info-1 {
					align-items: flex-start;
					
					.author {
						width: 150px;
						height: 150px;
					}
					
					.info {
						padding-top: 10px;
						
						.title {
							color: $color-primary;
							margin-bottom: 20px;
							font-size: 25px;
							line-height: 1.2em;
						}
						
						.address {
							margin-left: 0;
						}
						
						.meta {
							align-items: flex-start;
							flex-flow: row wrap;
							margin-bottom: -25px;
							
							.date {
								font-size: 30px;
								text-transform: uppercase;
								line-height: 1em;
								font-weight: 500;
								margin-right: 25px;
								margin-bottom: 25px;
							}
							
							.address {
								color: $color-body;
								margin-bottom: 25px;
								
								span {
									font-size: 16px;
									color: $color-primary;
									display: block;
									margin-top: 10px;
									font-weight: 500;
								}
							}
						}
					}
				}
				
				.info-2 {
					align-items: flex-start;
					
					.image {
						.img {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}

/**
 * Section: Ui
 */

.ui {
	
	// Button
	
	&.button {
		cursor: pointer;
		user-select: none;
		border: none;
		background: none;
		@include general-transition;
		text-align: center;
		justify-content: center;
		align-items: center;
		
		&.style-default {
			color: #FFFFFF;
			background-color: $color-primary;
			border: 1px solid $color-primary;
			padding: 5px 50px;
			font-weight: 300;
			display: inline-block;
			border-radius: 50px;
			font-size: 18px;
			font-family: $value-font-family-2;
			
			&:hover, &:active {
				background-color: transparent;
				color: $color-primary;
			}
			
			&:active {
				@include general-box-shadow-inner;
			}
			
			&.style-block {
				display: block;
				width: 100%;
			}
			
			&.size-sm {
				font-size: 14px;
				padding: 5px 30px;
			}
		}
		
	}
	
	// Navigation
	
	&.navigation {
		
		.menu-item-has-children {
			& > .sub-menu {
				display: none;
			}
			
			&.is-opened {
				& > .sub-menu {
					display: block;
				}
			}
		}
		
	}
	
	// Tabs
	
	&.tabs {
		position: relative;
		
		.navigation-tabs {
			.navigation-tab {
				&.is-active {
				
				}
			}
		}
		
		.content-tabs {
			.content-tab {
				display: none;
				
				&.is-active {
					display: block;
				}
			}
		}
		
		&.style-default {
			> .navigation-tabs {
				display: flex;
				align-items: center;
				padding-bottom: 15px;
				margin-bottom: 50px;
				position: relative;
				//white-space: nowrap;
				////overflow-y: auto;
				
				&:after {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: $color-body-2;
					content: '';
					z-index: -1;
				}
				
				> .navigation-tab {
					margin-right: 30px;
					font-weight: 300;
					display: block;
					font-size: 16px;
					line-height: 1.2em;
					color: #000000;
					opacity: 0.5;
					@include general-transition;
					cursor: pointer;
					user-select: none;
					position: relative;
					z-index: 1;
					
					@include media-breakpoint-up(lg) {
						margin-right: 70px;
						font-size: 18px;
					}
					
					&:hover, &.is-active {
						opacity: 1;
					}
					
					&:after {
						position: absolute;
						display: block;
						width: 19px;
						height: 14px;
						background-color: #FFFFFF;
						content: '';
						bottom: -28px;
						left: 50%;
						transform: translateX(-50%);
						opacity: 0;
						@include general-transition;
					}
					
					&:before {
						position: absolute;
						content: "";
						display: inline-block;
						width: 14px;
						height: 14px;
						border-right: 1px solid $color-body-2;
						border-top: 1px solid $color-body-2;
						bottom: -22px;
						left: 50%;
						transform: translateX(-50%) rotate(135deg);
						z-index: 1;
						opacity: 0;
						@include general-transition;
					}
					
					&.is-active {
						&:after {
							opacity: 1;
						}
						
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
		
	}
	
	// Widget
	
	&.widget {
		.widget-head {
			margin-bottom: 20px;
			
			h3 {
				font-weight: 400;
				color: #000000;
				font-size: 18px;
				margin: 0;
				padding: 0;
			}
		}
		
		&.style-product-widgets {
			display: block;
			width: 100%;
			font-size: 0;
			column-count: 1;
			column-gap: 10px;

			@include media-breakpoint-up(lg) {
				column-count: 2;
			}
			
			.widget {
				font-size: 14px;
				border: 1px solid $color-bg;
				border-radius: 5px;
				overflow: hidden;
				margin-bottom: 10px;
				display: inline-block;
				width: 100%;
				
				img {
					max-width: 100%;
					width: 100%;
					display: block;
					border-radius: 5px;
					overflow: hidden;
				}
				
				iframe {
					max-width: 100%;
					width: 100%;
					display: block;
					border-radius: 5px;
					overflow: hidden;
				}
			}
		}
		
		&.style-navigation {
			.widget-body {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					
					li {
						&:not(:last-child) {
							margin-bottom: 10px;
						}
						
						a {
							&:hover {
								padding-left: 15px;
								color: $color-primary;
							}
						}
					}
				}
			}
		}
		
		&.style-subscribe {
			.widget-body {
				form {
					margin-top: 20px;
				}
				
				.after-subscribe {
					display: flex;
					align-items: center;
					
					.icon {
						color: $color-primary;
						font-size: 60px;
						line-height: 14px;
						margin-right: 15px;
						position: relative;
					}
				}
			}
		}
		
		&.style-categories {
			.widget-head {
				color: $color-primary;
				font-weight: 600;
				font-size: 20px;
			}
			
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				font-size: 16px;
				
				li {
					&:hover {
						> a {
							color: $color-primary;
						}
					}
					
					ul {
						margin-left: 35px;
						
						a {
							margin-bottom: 10px;
						}
						
						li {
							&:last-child {
								a {
									margin-bottom: 15px;
								}
							}
						}
					}
				}
				
				a {
					display: inline-block;
					color: $color-body-3;
					margin-bottom: 15px;
					
					&:hover {
						color: $color-primary;
					}
				}
			}
			
			.menu-item-has-children {
				> a {
					display: flex;
					align-items: center;
					
					&:after {
						content: '\f3d8';
						font-family: 'Ionicons';
						margin-left: 10px;
					}
				}
				
				&.is-opened {
					> a {
						color: $color-primary;
						
						&:after {
							content: '\f3d0';
						}
					}
					
					> .sub-menu {
						display: block;
					}
				}
			}
			
			.sub-menu {
				display: none;
			}
		}
		
		&.style-product-profile {
			text-align: center;
			
			.image {
				display: block;
				width: 155px;
				height: 155px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 50%;
				margin: 0 auto;
				margin-bottom: 20px;
				
				img {
					width: 0;
					height: 0;
				}
			}
			
			.name {
				font-size: 18px;
				font-style: italic;
				font-family: $value-font-family-2;
				font-weight: 700;
				margin-bottom: 30px;
			}
			
			.description {
				font-style: italic;
				font-family: $value-font-family-2;
				color: $color-body-2;
				font-size: 15px;
				line-height: 25px;
			}
			
			.socials {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: -30px;
				
				> a {
					margin-right: 30px;
					color: $color-body-3;
					
					&:hover {
						color: $color-primary;
					}
				}
			}
		}
		
		&.style-product-read {
			text-align: center;
			font-family: $value-font-family-2;
			font-weight: 300;
			font-size: 18px;
			text-decoration: underline;
			
			a {
				color: $color-body-2;
				
				&:hover {
					color: $color-primary;
				}
			}
		}
		
		&.style-sidebar {
			.widget-head {
				position: relative;
				margin-bottom: 50px;
				text-align: center;
				
				&:after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $color-bg-2;
					content: '';
					z-index: -1;
				}
				
				.widget-title {
					position: relative;
					font-size: 25px;
					font-weight: 300;
					padding-bottom: 15px;
					
					&:after {
						position: absolute;
						display: block;
						width: 27px;
						height: 20px;
						background-color: #FFFFFF;
						content: '';
						bottom: -7px;
						left: 50%;
						transform: translateX(-50%);
						opacity: 1;
						@include general-transition;
					}
					
					&:before {
						position: absolute;
						content: "";
						display: inline-block;
						width: 20px;
						height: 20px;
						border-right: 1px solid $color-bg-2;
						border-top: 1px solid $color-bg-2;
						bottom: -10px;
						left: 50%;
						transform: translateX(-50%) rotate(135deg);
						z-index: 1;
						opacity: 1;
						@include general-transition;
					}
				}
			}
		}
	}
	
	// Form field
	
	&.form-field {
		input, textarea {
			@include general-transition;
		}
		
		.label, label {
			cursor: pointer;
		}
		
		&.style-default {
			max-width: 600px;
			
			input[type="checkbox"] {
				width: auto;
				display: none;
				
				& + label {
					line-height: 1em;
					top: 0;
					position: relative;
					padding-left: 30px;
					display: flex;
					align-items: center;
					font-size: 13px;
					
					&:before {
						display: inline-block;
						width: 18px;
						height: 18px;
						border-radius: 5px;
						border: 1px solid #EBEBEB;
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						@include general-transition;
					}
					
					&:after {
						font-size: 0;
						content: '\f122';
						font-family: 'Ionicons';
						@include general-transition;
						position: absolute;
						line-height: 18px;
						width: 18px;
						text-align: center;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						color: $color-primary;
					}
					
					&:hover {
						&:before {
							border-color: #AAAAAA;
						}
					}
				}
				
				&:checked {
					& + label {
						&:before {
							border-color: $color-primary;
						}
						
						&:after {
							font-size: 14px;
						}
					}
				}
			}
			
			input[type="radio"] {
				width: auto;
				display: none;
				
				& + label {
					line-height: 1em;
					top: 0;
					position: relative;
					padding-left: 30px;
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					font-size: 13px;
					
					&:before {
						display: inline-block;
						width: 18px;
						height: 18px;
						border: 1px solid #EBEBEB;
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						border-radius: 50%;
						@include general-transition;
					}
					
					&:after {
						position: absolute;
						left: 4px;
						top: 50%;
						transform: translateY(-50%) scale(0);
						width: 10px;
						height: 10px;
						background-color: $color-primary;
						border-radius: 50%;
						content: '';
						@include general-transition;
					}
					
					&:hover {
						&:before {
							border-color: #AAAAAA;
						}
					}
				}
				
				&:checked {
					& + label {
						&:before {
							border-color: $color-primary;
						}
						
						&:after {
							transform: translateY(-50%) scale(1);
						}
					}
				}
			}
		}
		
		&.style-field {
			input {
				border-radius: 50px;
				width: 100%;
				border: 1px solid #EBEBEB;
				padding: 10px 25px;
				
				&:hover, &:focus {
					border-color: $color-primary;
				}
			}
		}
		
		&.style-check {
			display: flex;
			align-items: center;
		}
		
		&.style-with-submit {
			max-width: 500px;
			width: 100%;
			position: relative;
			
			&:hover {
				input {
					border-color: $color-primary;
				}
			}
			
			input {
				border-radius: 50px;
				width: 100%;
				border: 1px solid #EBEBEB;
				padding: 10px 25px;
				
				&:hover, &:focus {
					border-color: $color-primary;
				}
			}
			
			button {
				background-color: $color-primary;
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				cursor: pointer;
				color: #FFFFFF;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				padding: 0 25px;
				border: 1px solid $color-primary;
				@include general-transition;
				font-size: 12px;
				text-transform: uppercase;
				text-align: center;
				justify-content: center;
				align-items: center;
				
				&:hover {
					color: $color-primary;
					background-color: transparent;
				}
			}
			
			&.style-section {
				display: flex;
				align-items: center;
				max-width: 600px;
				
				input {
					margin-right: 25px;
					border-color: #B9B9B9;
					
					&:hover, &:focus {
						border-color: $color-primary;
					}
				}
				
				button {
					position: relative;
					display: block;
					border-radius: 50px;
					height: 46px;
					font-weight: 600;
					font-size: 16px;
					padding: 0 30px;
				}
			}
		}
		
		&.style-search {
			max-width: 800px;
			width: 100%;
			position: relative;
			
			button {
				position: absolute;
				left: 25px;
				top: 50%;
				transform: translateY(-50%);
				background: none;
				border: none;
				padding: 0;
				margin: 0;
				color: $color-border;
				font-size: 25px;
				cursor: pointer;
				@include general-transition;
				
				&:hover {
					color: $color-primary;
				}
			}
			
			input {
				border-radius: 50px;
				width: 100%;
				border: 1px solid $color-border;
				padding: 10px 25px 10px 60px;
				
				&:hover, &:focus {
					border-color: $color-primary;
				}
			}
		}
	}
	
	// Disabled
	
	&.is-disabled {
		pointer-events: none;
	}
	
	// Card
	
	&.card {
		display: block;
		position: relative;
		
		// Image
		
		&.style-image {
			.image {
				@include general-box-shadow-3;
				
				img {
					max-width: 100%;
				}
			}
		}
		
		// Banner
		
		&.style-banner {
			color: #FFFFFF;
			
			a {
				color: #FFFFFF;
				
				&:hover {
					color: $color-primary;
				}
			}
			
			&:hover {
				&:before {
					opacity: 1;
				}
			}
			
			&:before {
				display: block;
				content: '';
				z-index: 0;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background: linear-gradient(to bottom, transparent, rgba(#000000, 0.5));
				opacity: 0;
				@include general-transition;
			}
			
			.type {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 20px;
				top: 20px;
				background-color: $color-primary;
				border-radius: 50%;
				cursor: pointer;
				font-size: 12px;
			}
			
			.image {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -1;
				
				img {
					opacity: 0;
					height: 0;
					width: 0;
				}
			}
			
			.info {
				position: absolute;
				width: calc(100% - 40px);
				left: 20px;
				bottom: 20px;
			}
			
			.meta {
				display: flex;
				font-size: 12px;
				margin-top: 20px;
				
				.category {
					margin-right: 30px;
					text-transform: uppercase;
					
					&.color-red {
						color: #FF0000;
						
						a {
							color: #FF0000;
						}
					}
					
					&.color-orange {
						color: #FF9700;
						
						a {
							color: #FF9700;
						}
					}
				}
			}
			
			.title {
				h3 {
					font-weight: 600;
					font-size: 14px;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
				}
			}
			
			// Large post
			
			&.style-large-post {
				height: 340px;
			}
			
			// Small post
			
			&.style-small-post {
				height: 255px;
				
				@include media-breakpoint-up(md) {
					height: 205px;
				}
				
				@include media-breakpoint-up(lg) {
					height: 155px;
				}
			}
			
		}
		
		// Product
		
		&.style-product {
			&:hover {
				.image {
					@include general-box-shadow-3;
				}
			}
			
			.image {
				display: block;
				margin: 0;
				@include general-box-shadow;
				@include general-transition;
				max-width: 200px;
				margin: 0 auto;
				margin-bottom: 20px;
				
				img {
					width: 100%;
				}
			}
			
			.title {
				margin-bottom: 5px;
				
				h3 {
					font-size: 15px;
					line-height: 20px;
					margin: 0;
				}
			}
			
			.author {
				font-size: 14px;
				line-height: 23px;
			}
		}
		
		// Post
		
		&.style-post {
			background-color: #FFFFFF;
			display: block;
			@include general-box-shadow;
			
			.image {
				overflow: hidden;
				height: 140px;
				position: relative;
				text-align: center;
				display: flex;
				justify-content: center;
				
				img {
					display: block;
					height: 100%;
					position: absolute;
					margin: 0 auto;
					@include general-transition;
				}
				
				&:hover {
					img {
						transform: scale(1.2);
					}
				}
			}
			
			.inner {
				padding: 25px;
			}
			
			.date {
				color: $color-body-2;
				font-size: 14px;
				margin-bottom: 10px;
				font-family: $value-font-family-2;
			}
			
			.title {
				margin-bottom: 10px;
				
				h3 {
					font-weight: 400;
					font-size: 22px;
					line-height: 25px;
					margin: 0;
				}
			}
			
			.description {
				color: $color-body-2;
				font-size: 13px;
				line-height: 22px;
				font-weight: 300;
				font-family: $value-font-family-3;
				margin-bottom: 20px;
				
				p {
					margin: 0;
				}
			}
			
			.more {
				a {
					display: block;
					color: $color-primary;
					text-transform: uppercase;
					font-size: 13px;
					line-height: 1em;
					font-weight: 600;
					
					&:hover {
						color: $color-body;
					}
				}
			}
		}
		
		// Large Post
		
		&.style-blog-post {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			
			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: stretch;
			}
			
			.image {
				content: '';
				height: auto;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				min-height: 300px;
				width: 100%;
				
				@include media-breakpoint-up(md) {
					min-height: 400px;
				}
				
				@include media-breakpoint-up(lg) {
					width: 50%;
				}
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					content: '';
					position: relative;
					
					.type {
						width: 50px;
						height: 50px;
						top: 50%;
						transform: translateY(-50%);
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $color-primary;
						border-radius: 50%;
						cursor: pointer;
						font-size: 16px;
						color: #FFFFFF;
						
						@include media-breakpoint-up(lg) {
							width: 80px;
							height: 80px;
							font-size: 25px;
						}
					}
				}
			}
			
			.info {
				padding: 50px 25px;
				position: relative;
				
				@include media-breakpoint-up(md) {
					padding: 85px;
				}
				
				@include media-breakpoint-up(lg) {
					width: 50%;
				}
				
				.title {
					margin: 0;
					font-size: 28px;
					font-weight: 600;
					letter-spacing: 0.04em;
					line-height: 1.25em;
					
					&:after {
						display: block;
						width: 50px;
						height: 1px;
						background-color: $color-primary;
						content: '';
						margin: 20px 0 40px;
					}
				}
				
				.description {
					font-size: 16px;
					line-height: 24px;
					color: $color-body-3;
					margin: 0;
				}
				
				&:after {
					z-index: 1;
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 25px 20px 25px;
					border-color: transparent transparent #FFFFFF transparent;
					position: absolute;
					top: -20px;
					left: 50%;
					transform: translateX(-50%);
					
					@include media-breakpoint-up(lg) {
						left: -20px;
						top: 50%;
						transform: translateY(-50%);
						border-width: 25px 20px 25px 0;
						border-color: transparent #FFFFFF transparent transparent;
					}
				}
			}
			
			@include media-breakpoint-up(lg) {
				&.is-mirrored {
					.info {
						order: -1;
						
						&:after {
							right: -20px;
							left: auto;
							border-width: 25px 0 25px 20px;
							border-color: transparent transparent transparent #FFFFFF;
						}
					}
				}
			}
		}
		
		// Profile
		
		&.style-profile {
			text-align: center;
			
			.image {
				border-radius: 50%;
				overflow: hidden;
				width: 120px;
				height: 120px;
				margin: 0 auto;
				margin-bottom: 15px;
				
				img {
					width: 0;
					height: 0;
				}
			}
			
			.name {
				font-size: 20px;
				font-weight: 400;
				margin: 0;
			}
			
			.more {
				margin-top: 15px;
				text-decoration: underline;
			}
		}
		
		// Stock
		
		&.style-stock {
			background-color: $color-primary;
			color: #FFFFFF;
			display: flex;
			flex-flow: row wrap;
			
			a {
				color: #FFFFFF;
			}
			
			.image {
				content: '';
				height: auto;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				min-height: 300px;
				width: 100%;
				flex: none;
				
				@include media-breakpoint-up(md) {
					min-height: 400px;
				}
				
				@include media-breakpoint-up(lg) {
					width: 400px;
				}
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					content: '';
					position: relative;
					
					.type {
						width: 50px;
						height: 50px;
						top: 50%;
						transform: translateY(-50%);
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $color-primary;
						border-radius: 50%;
						cursor: pointer;
						font-size: 16px;
						color: #FFFFFF;
						
						@include media-breakpoint-up(lg) {
							width: 80px;
							height: 80px;
							font-size: 25px;
						}
					}
				}
			}
			
			.info {
				padding: 50px 25px;
				position: relative;
				width: 100%;
				flex: 1;
				font-size: 24px;
				
				@include media-breakpoint-up(md) {
					padding: 50px;
				}
				
				h3 {
					margin-bottom: 30px;
					text-align: center;
					font-size: 36px;
				}
				
				br {
					margin-bottom: 30px;
					display: block;
					content: '';
				}
			}
			
			&.is-mirrored {
				.info {
					order: -1;
				}
			}
		}
		
	}
	
	// Breadcrumbs
	
	&.breadcrumbs {
		color: $color-body-4;
		letter-spacing: 0.04em;
		
		a {
			color: $color-body-4;
			
			&:hover {
				color: $color-primary;
			}
			
			&:after {
				content: '/';
				color: $color-body-4;
				margin: 0 5px;
			}
		}
		
		span {
			color: $color-primary;
		}
	}
	
	// Tooltip
	
	&.tooltip {
		position: relative;
		display: inline-block;
		
		&.is-shown {
			.tooltip-head {
				&:after {
					display: block;
				}
			}
			
			.tooltip-body {
				display: block;
			}
		}
		
		&:not(.style-without-head) {
			.tooltip-head {
				position: relative;
				cursor: pointer;
				color: $color-body-4;
				font-size: 20px;
				
				&:after {
					content: '\f3d0';
					font-family: 'Ionicons';
					margin-left: 10px;
				}
			}
		}
		
		.tooltip-head {
			&:before {
				display: none;
				width: 150%;
				height: 100%;
				position: absolute;
				bottom: -10px;
				left: 50%;
				transform: translateX(-50%);
				content: '';
				z-index: 1;
			}
		}
		
		.tooltip-body {
			border-radius: 5px;
			display: none;
			margin-top: 10px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			padding: 15px;
			font-size: 13px;
			line-height: 15px;
			max-width: 300px;
			min-width: 100px;
			width: auto;
			@include general-box-shadow;
			cursor: auto;
			background-color: #FFFFFF;
			z-index: 200;
			white-space: nowrap;
			
			&:before {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 10px 8px;
				position: absolute;
				top: -7px;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
				border-color: transparent transparent #FFFFFF transparent;
			}
		}
		
		&.style-non-max-width {
			.tooltip-body {
				max-width: none;
			}
		}
		
		&.style-hover {
			&:hover {
				.tooltip-head {
					&:before {
						display: block;
					}
				}
				
				.tooltip-body {
					display: block;
				}
			}
		}
		
		&.style-dropdown {
			.tooltip-head {
				display: flex;
				align-items: center;
			}
			
			.tooltip-body {
				padding: 10px;
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		.dropdown-list {
			.list-item {
				padding: 10px 20px;
				white-space: nowrap;
				@include general-transition;
				cursor: pointer;
				
				&.is-selected, &:hover {
					background-color: lighten($color-border, 10);
				}
				
				.title {
					font-size: 13px;
				}
			}
		}
		
		&.position-right-bottom {
			.tooltip-body {
				right: -10px;
				left: auto;
				transform: none;
				
				&:before {
					left: auto;
					right: 0;
				}
			}
		}
	}
	
	// Tags
	
	&.tags {
		&.style-default {
			margin-bottom: -10px;
			
			span {
				text-transform: uppercase;
				margin-right: 5px;
				margin-bottom: 10px;
				color: $color-body-2;
				font-size: 13px;
			}
			
			> a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 15px;
				font-family: $value-font-family-2;
				color: $color-body-2;
				background-color: #F6F7FB;
				@include general-transition;
				border-radius: 50px;
				padding: 5px 15px;
				margin-right: 5px;
				margin-bottom: 10px;
				
				&:hover {
					background-color: $color-primary;
					color: #FFFFFF;
				}
			}
		}
		
		&.style-simple {
			font-size: 18px;
			font-weight: 300;
			
			a {
				text-decoration: underline;
				color: $color-body-3;
				
				&:hover {
					color: $color-primary;
				}
			}
		}
	}
	
	// Comment
	
	&.comment {
		position: relative;
		
		&.style-product {
			display: flex;
			
			> .comment {
				> .info {
					display: flex;
					margin-bottom: 20px;
					
					> .image {
						flex: none;
						width: 50px;
						height: 50px;
						margin-right: 30px;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						position: absolute;
						
						@include media-breakpoint-up(lg) {
							height: 70px;
							width: 70px;
						}
						
						img {
							height: 0;
							width: 0;
						}
					}
					
					> .meta {
						margin-left: 50px + 30px;
						
						@include media-breakpoint-up(lg) {
							margin-left: 70px + 30px;
						}
						
						> .name {
							font-size: 22px;
							line-height: 1em;
							color: $color-body-3;
							font-weight: 600;
							margin-bottom: 5px;
						}
						
						> .date {
							font-weight: 300;
							font-size: 14px;
							line-height: 22px;
							color: $color-body-2;
						}
					}
					
					> .rating {
						margin-left: 30px;
					}
				}
				
				> .content {
					font-size: 14px;
					line-height: 25px;
					color: $color-body-3;
					font-weight: 300;
					font-family: $value-font-family-3;
					
					@include media-breakpoint-up(lg) {
						margin-left: 70px + 30px;
					}
				}
				
				> .like {
					@include media-breakpoint-up(lg) {
						margin-left: 70px + 30px;
					}
					
					a {
						color: $color-primary;
						font-size: 16px;
						line-height: 22px;
						font-weight: 300;
					}
				}
			}
		}
	}
	
	// Rating
	
	&.rating {
		span {
			font-size: 16px;
			color: $color-body-2;
			margin-right: 10px;
			font-weight: 300;
		}
		
		.stars {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 15px;
			
			a {
				margin-right: 2px;
				color: $color-body-4;
				
				&:hover, &.active {
					color: #FFCB00;
				}
			}
		}
	}
	
	// Calendar
	
	&.calendar {
		&.style-default {
			.info {
				text-align: center;
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				
				.title {
					margin: 0 auto;
					color: $color-primary;
					text-transform: uppercase;
					font-size: 14px;
				}
				
				i {
					font-size: 20px;
					cursor: pointer;
					@include general-transition;
					width: 30px;
					height: 30px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					border: 1px solid $color-body-4;
					color: $color-body-4;
					border-radius: 50%;
					
					&:hover {
						color: $color-primary;
					}
				}
			}
			
			.month {
				position: relative;
				
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				
				.day {
					width: calc(100% / 7 - 4px);
					float: left;
					cursor: pointer;
					text-align: center;
					font-size: 12px;
					height: 25px;
					padding-top: 2px;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					margin: 2px;
					
					&:before {
						height: 25px;
						width: 25px;
						background-color: $color-primary;
						content: '';
						border-radius: 50%;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
						position: absolute;
						opacity: 0;
					}
					
					&.selected {
						font-weight: 700;
					}
					
					&:hover, &.selected {
						color: #FFFFFF;
						
						&:before {
							opacity: 1;
						}
					}
				}
				
				.day-1:first-child {
					margin-left: calc(100% / 7 + 2px);
				}
				
				.day-2:first-child {
					margin-left: calc(100% / 7 * 2 + 2px);
				}
				
				.day-3:first-child {
					margin-left: calc(100% / 7 * 3 + 2px);
				}
				
				.day-4:first-child {
					margin-left: calc(100% / 7 * 4 + 2px);
				}
				
				.day-5:first-child {
					margin-left: calc(100% / 7 * 5 + 2px);
				}
				
				.day-6:first-child {
					margin-left: calc(100% / 7 * 6 + 2px);
				}
				
				.title {
					text-transform: uppercase;
					cursor: auto;
					
					&:before {
						display: none;
					}
					
					&:hover {
						background-color: transparent;
						color: #333333;
					}
				}
			}
			
			.month + .info {
				margin-top: 10px;
			}
		}
	}
	
	// Post
	
	&.post {
		&.style-full {
			.post-content {
				a {
					color: $color-primary;
					
					&:hover {
						color: $color-primary-2;
					}
				}
				
				img {
					max-width: 100%;
				}
				
				h1, h2, h3, h4, h5, h6 {
					color: $color-body;
					margin-bottom: 30px;
				}
				
				i {
					font-family: $value-font-family-2;
				}
				
				strong {
					color: $color-body;
				}
				
				p {
					color: $color-body-3;
					margin-bottom: 30px;
				}
				
				blockquote {
					margin-bottom: 30px;
					text-align: center;
					font-family: $value-font-family-2;
					
					p {
						color: $color-body;
						font-weight: 700;
						font-style: italic;
						font-size: 24px;
						line-height: 36px;
						margin: 0;
						
						&:after {
							width: 50px;
							height: 1px;
							content: '';
							display: block;
							background-color: $color-primary;
							margin: 15px auto;
						}
					}
					
					.icon {
						margin-bottom: 15px;
					}
					
					strong {
						color: $color-primary;
						font-size: 18px;
						font-weight: 700;
						font-style: italic;
					}
				}
			}
			
			.post-meta {
				display: flex;
				align-items: center;
				font-size: 14px;
				flex-flow: row wrap;
				margin-bottom: -10px;
				
				.tags {
					width: 100%;
					margin-bottom: 10px;
					margin-right: auto;
					
					@include media-breakpoint-up(xl) {
						width: auto;
					}
					
					a {
						font-size: 14px;
					}
				}
				
				.share {
					margin-bottom: 10px;
					
					&:after {
						content: '|';
						margin-right: 15px;
						opacity: 0.25;
						color: $color-body-3;
					}
					
					a {
						margin-right: 25px;
						color: $color-body-3;
						
						&:last-child {
							margin-right: 15px;
						}
						
						&:hover {
							color: $color-primary;
						}
					}
				}
				
				.author {
					text-transform: uppercase;
					font-size: 13px;
					color: $color-body-3;
					margin-bottom: 10px;
					
					span {
						margin-right: 5px;
					}
					
					a {
						color: $color-primary;
					}
				}
			}
		}
		
		&.style-sidebar-small {
			display: flex;
			
			.image {
				flex: none;
				margin-right: 15px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				width: 90px;
				height: 65px;
				
				img {
					width: 0;
					height: 0;
				}
			}
			
			.info {
				font-size: 12px;
				line-height: 1.4em;
				
				.title {
					font-weight: 600;
					margin-bottom: 5px;
				}
				
				.date {
					color: $color-primary;
					text-transform: uppercase;
				}
			}
		}
		
		&.style-post-card {
			.image {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 140px;
				margin-bottom: 20px;
				
				img {
					width: 0;
					height: 0;
				}
			}
			
			.meta {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
				
				.category {
					a {
						color: $color-body-2;
						
						&:hover {
							color: $color-primary;
						}
					}
				}
				
				.date {
					text-transform: uppercase;
					color: $color-primary;
					
					&:after {
						margin: 0 10px;
						content: '|';
					}
				}
			}
			
			.title {
				font-size: 13px;
				line-height: 1.4em;
				font-weight: 600;
			}
		}
		
		&.style-full-2 {
			.post-toggle {
				width: 100%;
				text-align: right;
				margin-bottom: 60px;
				display: none;
				
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					position: relative;
					
					@include media-breakpoint-up(md) {
						height: 100%;
					}
					
					&:after {
						height: calc(100% - 10px);
						min-height: 500px;
						background-color: $color-border;
						width: 1px;
						content: '';
						display: block;
						position: absolute;
						right: 10px;
						top: 5px;
						z-index: -1;
						flex: none;
					}
					
					li {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						margin-bottom: 30px;
						@include general-transition;
						font-weight: 600;
						position: relative;
						
						&:hover {
							color: $color-primary;
						}
						
						a {
							position: relative;
							display: flex;
							align-items: center;
							justify-content: flex-end;
							
							&:after {
								flex: none;
								margin-left: 10px;
								width: 20px;
								height: 20px;
								background-color: $color-primary;
								border: 1px solid $color-primary;
								border-radius: 50%;
								content: '';
								display: block;
								@include general-transition;
							}
							
							&:before {
								flex: none;
								width: 10px;
								height: 10px;
								background-color: $color-border;
								border-radius: 50%;
								content: '';
								display: block;
								position: absolute;
								right: 5px;
								top: 50%;
								transform: translateY(-50%);
								opacity: 0;
								@include general-transition;
							}
						}
						
						&.is-active {
							a {
								&:after {
									background-color: #FFFFFF;
									border-color: $color-border;
								}
								
								&:before {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			
			.post-content {
				h1, h2, h3, h4, h5, h6 {
					margin-top: 0;
				}
				
				h1 {
					font-size: 30px;
					margin-bottom: 20px;
				}
				
				small {
					color: $color-body-2;
					margin-bottom: 15px;
					display: inline-block;
				}
				
				img {
					// box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
					margin-right: 30px;
					margin-bottom: 30px;
					max-width: 100%;
				}
				
				.image {
					margin-bottom: 30px;
					
					@include media-breakpoint-down(md) {
						float: none !important;
					}
				}
			}
			
			.post-meta {
				display: flex;
				align-items: center;
				font-size: 14px;
				flex-flow: row wrap;
				flex: none;
				width: 100%;
				margin-top: 50px;
				
				.tags {
					width: 100%;
					margin-bottom: 10px;
					margin-right: auto;
					
					@include media-breakpoint-up(xl) {
						width: auto;
					}
					
					a {
						font-size: 14px;
					}
				}
				
				.share {
					margin-bottom: 10px;
					
					&:after {
						content: '|';
						margin-right: 15px;
						opacity: 0.25;
						color: $color-body-3;
					}
					
					a {
						margin-right: 25px;
						color: $color-body-3;
						
						&:last-child {
							margin-right: 15px;
						}
						
						&:hover {
							color: $color-primary;
						}
					}
				}
				
				.author {
					text-transform: uppercase;
					font-size: 13px;
					color: $color-body-3;
					margin-bottom: 10px;
					
					span {
						margin-right: 5px;
					}
					
					a {
						color: $color-primary;
					}
				}
			}
			
			@include media-breakpoint-up(lg) {
				.post-toggle {
					display: block;
					min-height: 500px;
					width: 180px;
					float: left;
					margin-bottom: 0;
				}
				
				.post-content {
					margin-left: 180px + 60px;
				}
			}
		}
	}
	
}

/**
 * Section: Component
 */

.component {

}

/**
 * Slick
 */

.slick-carousel {
	display: none;
}

.slick-carousel.slick-initialized {
	display: block;
}

.slick-track, .slick-list {
	height: 100%;
}

.slick-slide {
	&:active {
		cursor: move;
	}
}
