/**
 * Breackpoints
 */

$screen-ss-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;
$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;
$screen-lg-max: $screen-xl-min - 1px;

/**
 * Colors
 */

$color-primary: #00ADE2;
$color-primary-2: #008CCF;
$color-body: #272727;
$color-body-2: #8B8B8B;
$color-body-3: #5E5E5E;
$color-body-4: #B9B9B9;
$color-border: #DADADA;
$color-pink: #FFDCEA;
$color-pink-2: #FFA0C0;
$color-bg: #F5F5F5;
$color-bg-2: #B2B2B2;
$color-bg-3: #E9E9E9;
$color-pink-3: #FB4C8F;

/**
 * Fonts
 */

$value-font-family: 'Circe', sans-serif;
$value-font-family-2: 'Open Sans', sans-serif;
$value-font-family-3: 'Montserrat', sans-serif;