//@@include('inc/header.html')

//@@include('inc/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Content -->
	<section class="section default-padding">
		<div class="container">

			//@@for(var i = 0; i < 3; i++) {

			<!-- Item -->
			<div class="ui card style-blog-post">
				<div class="image" style="background-image: url('//placehold.it/500x400')">
					<a href="#.">
						<div class="type">
							<i class="fa fa-play"></i>
						</div>
					</a>
				</div>
				<div class="info">
					<h3 class="title"><a href="#.">Как спокойно говорить<br>с ребёнком о жизни</a></h3>
					<p class="description">Эта книга поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности".</p>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="ui card style-blog-post is-mirrored">
				<div class="image" style="background-image: url('//placehold.it/500x400')">
					<a href="#."></a>
				</div>
				<div class="info">
					<h3 class="title"><a href="#.">Как спокойно говорить<br>с ребёнком о жизни</a></h3>
					<p class="description">Эта книга поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности".</p>
				</div>
			</div>
			<!-- End of Item -->

			}

			<!-- Section more -->
			<div class="section-more">
				<a href="#.">Посмотреть все новости</a>
			</div>
			<!-- End of Section more -->

		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')