//@@include('inc/header.html')

//@@include('inc/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('inc/section-publisher-hero-2.html')

	<!-- Section: Catalog -->
	<section class="section catalog default-padding">
		<div class="container">

			//@@include('inc/section-catalog-settings.html')

			<div class="row -mb-default">
				//@@for(var i = 0; i < 10; i++) {
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2-4 mb-default">
					//@@include('inc/ui-card-style-product.html')
				</div>
				}
			</div>

			<!-- Section more -->
			<div class="section-more">
				<a href="#.">Посмотреть больше книг издательства одри</a>
			</div>
			<!-- End of Section more -->

		</div>
	</section>
	<!-- End of Section: Catalog -->

	//@@include('inc/section-authors-carousel.html')

	//@@include('inc/section-subscribe-2.html')

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')