<!-- Section: Header -->
<header class="section header style-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner">

					<!-- Logo -->
					<div class="logo">
						<a href="#.">
							<img src="assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- End of Logo -->

					<!-- Navigation -->
					<div class="navigation">
						<ul>
							<li><a href="#.">Об издательстве</a></li>
							<li><a href="#.">События</a></li>
							<li><a href="#.">Блог</a></li>
							<li><a href="#.">Книги</a></li>
						</ul>
					</div>
					<!-- End of Navigation -->

					<!-- Search Form -->
					<div class="search-form">
						<div class="ui form-field style-search">
							<button type="submit"><i class="ion-ios-search"></i></button>
							<input type="search" name="s" placeholder="Для поиска введите значение книги или автора">
						</div>
					</div>
					<!-- End of Search Form -->

				</div>
			</div>
		</div>
	</div>
</header>
<!-- End of Section: Header -->

<!-- Section: General Slider Mobile -->
<section class="section general-slider d-md-none">
	<div class="slick-carousel general-slider-slick">

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x1000" alt="">
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x1000" alt="">
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x1000" alt="">
		</div>
		<!-- End of Item -->

	</div>
	<div class="container general-slider-slick-arrows"></div>
</section>
<!-- End of Section: General Slider Mobile -->

<!-- Section: General Slider -->
<section class="section general-slider d-none d-md-block">
	<div class="slick-carousel general-slider-slick">

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x430" alt="">
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x430" alt="">
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="item">
			<img src="//placehold.it/1400x430" alt="">
		</div>
		<!-- End of Item -->

	</div>
	<div class="container general-slider-slick-arrows"></div>
</section>
<!-- End of Section: General Slider -->

<!-- Section: General Links -->
<section class="section general-links">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner d-none d-lg-block">
					<ul>
						<li><a href="#.">Спецпроекты</a></li>
						<li><a href="#.">Акции</a></li>
						<li><a href="#.">Подборки</a></li>
						<li><a href="#.">Взбомборить</a></li>
					</ul>
				</div>
				<div class="inner d-lg-none">
					<ul>
						<li><a href="#.">Каталог</a></li>
						<li><a href="#.">Акции</a></li>
						<li><a href="#.">Подборки</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: General Links -->

//@@include('general-navigation.html')