<!-- Section: Publisher Hero -->
<section class="section publisher-hero color-pink-3" style="background-image: url('https://i.imgur.com/K7BmkVV.png')">
	<div class="container">
		<div class="image">
			<img src="https://i.imgur.com/K7BmkVV.png" alt="">
		</div>
		<div class="info">
			<div class="logo-new">
					<img src="assets/img/publishers/hleb-sol-white.png" style="width: 160px" alt="">
			</div>
			<div class="subtitle">Наши книги делают жизнь вкуснее!</div>
			<p class="description">«ХлебСоль» — лидер на рынке кулинарных книг. Наши авторы — мировые гастрономические эксперты и знаменитые food-блогеры, на страницах только проверенные рецепты и стильное оформление. «ХлебСоль» для тех, кто готовит с любовью и вдохновением.</p>
			<div class="socials">
				<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
				<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: Publisher Hero -->