<!-- Sidebar -->
<section class="section sidebar">

	<!-- Widget -->
	<div class="ui widget style-categories">
		<div class="widget-head">Все жанры</div>
		<div class="widget-body">
			<ul class="ui navigation">
				<li><a href="#.">Научная литература</a></li>
				<li><a href="#.">Информационные технологии</a></li>
				<li><a href="#.">Культура и искусство</a></li>
				<li><a href="#.">Медицина и здоровье</a></li>
				<li class="menu-item-has-children">
					<a href="#.">Педагогика и психология</a>
					<ul class="sub-menu">
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#.">Педагогика и психология</a>
					<ul class="sub-menu">
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#.">Педагогика и психология</a>
					<ul class="sub-menu">
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
						<li><a href="#.">Какой-то подраздел</a></li>
					</ul>
				</li>
				<li><a href="#.">Публицистика</a></li>
				<li><a href="#.">Религия</a></li>
				<li><a href="#.">Тайны, сенсации, катастрофы</a></li>
				<li><a href="#.">Туризм. Путеводители</a></li>
				<li><a href="#.">Фитнес. Спорт</a></li>
				<li><a href="#.">Парапсихология</a></li>
				<li><a href="#.">Досуг</a></li>
				<li><a href="#.">Журналы</a></li>
				<li><a href="#.">Иностранные языки</a></li>
				<li><a href="#.">Календари 2018</a></li>
				<li><a href="#.">Календари. Блокноты</a></li>
			</ul>
		</div>
	</div>
	<!-- End of Widget -->

</section>
<!-- End of Sidebar -->