<!-- Section: Header -->
<header class="section header style-new">
	<div class="row">
		<div class="col-12">
			<div class="inner">

				<!-- Left -->
				<div class="left">

					<!-- Navigation -->
					<div class="navigation">
						<ul>
							<li class="is-active"><a href="#.">Главная</a></li>
							<li><a href="#.">Книги</a></li>
							<li><a href="#.">Магазин</a></li>
							<li><a href="#.">Блог</a></li>
							<li><a href="#.">Контакты</a></li>
						</ul>
					</div>
					<!-- End of Navigation -->

				</div>
				<!-- End of Left -->

				<!-- Logo -->
				<div class="logo">
					<a href="#.">
						<img src="assets/img/logo.png" alt="">
					</a>
				</div>
				<!-- End of Logo -->

				<!-- Right -->
				<div class="right">

					<!-- Navigation -->
					<div class="navigation">
						<ul>
							<li><a href="#.">Новинки</a></li>
							<li><a href="#.">Авторы</a></li>
							<li><a href="#.">Новости</a></li>
						</ul>
					</div>
					<!-- End of Navigation -->

					<!-- Search Form -->
					<div class="search-form">
						<div class="ui form-field style-search">
							<button type="submit"><i class="ion-ios-search"></i></button>
							<input type="search" name="s" placeholder="Для поиска введите значение книги или автора">
						</div>
					</div>
					<!-- End of Search Form -->

				</div>
				<!-- End of Right -->

			</div>
		</div>
	</div>
</header>
<!-- End of Section: Header -->