<!-- Section: Header -->
<header class="section header style-default">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner">

					<!-- Logo -->
					<div class="logo">
						<a href="#.">
							<img src="assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- End of Logo -->

					<!-- Search -->
					<div class="search">
						<div class="ui form-field style-search">
							<button type="submit"><i class="ion-ios-search"></i></button>
							<input type="search" name="s" placeholder="Для поиска введите значение книги или автора">
						</div>
					</div>
					<!-- End of Search -->

				</div>
			</div>
		</div>
	</div>
</header>
<!-- End of Section: Header -->

//@@include('general-navigation.html')