<!-- Section: Subscribe -->
<section class="section subscribe style-footer">
	<div class="container">
		<div class="inner">
			<h2>Будьте вкурсе новинок, подпишитесь на рассылку</h2>
			<form id="form-subscribe" class="ui form-field style-with-submit style-section">
				<input type="text" placeholder="Введите адрес электронной почты">
				<button type="submit" class="form-submit">Подписаться</button>
			</form>
		</div>
	</div>
</section>
<!-- End of Section: Subscribe -->