<!-- Section: Mobile Header -->
<section class="section mobile-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner">

					<!-- Logo -->
					<div class="logo">
						<a href="#.">
							<img src="assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- End of Logo -->

					<!-- Toggle -->
					<div class="toggle">
						<a href="#." data-action="toggle-mobile-navigation">
							<i class="fas fa-bars"></i>
						</a>
					</div>
					<!-- End of Toggle -->

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: Mobile Header -->