<!-- Sidebar -->
<section class="section sidebar style-product -mb-default-2">

	<!-- Widget -->
	<div class="ui widget style-product-images-carousel mb-default-2">

		<!-- General -->
		<div class="section items-carousel-wrapper">
			<div class="slick-carousel items-carousel-slick-4">
				//@@for(var i = 0; i < 2; i++) {
				<img src="//placehold.it/310x370" alt="">
				}
			</div>
		</div>
		<!-- End of General -->

		<!-- Small -->
		<div class="section items-carousel-wrapper style-image">
			<div class="slick-carousel items-carousel-slick-5">
				//@@for(var i = 0; i < 2; i++) {
				<div class="image" style="background-image: url('//placehold.it/370x140')">
					<img src="//placehold.it/370x140" alt="">
				</div>
				}
			</div>
			<div class="items-carousel-slick-arrows style-small"></div>
		</div>
		<!-- End of Small -->

	</div>
	<!-- End of Widget -->

	<!-- Widget -->
	<div class="ui widget style-product-read mb-default-2">
		<a href="#.">Читать открывок</a>
	</div>
	<!-- End of Widget -->

	<!-- Widget -->
	<div class="ui widget style-product-profile mb-default-2">
		<div class="image" style="background-image: url('//placehold.it/120x120')">
			<img src="//placehold.it/120x120" alt="">
		</div>
		<h3 class="name">Елена Крыгина</h3>
		<p class="description">
			Топ-визажист и beauty-эксперт, создатель одноименного популярного видеоблога о красоте на русскоязычном YouTube.
		</p>
		<div class="socials">
			<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
			<a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
			<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
			<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
	<!-- End of Widget -->

</section>
<!-- End of Sidebar -->