<!-- Section: Authors -->
<section class="section color-black-bg style-center-title default-padding-inner before-subscribe">
	<div class="container">

		<!-- Section head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<h2 class="title">Наши авторы</h2>
				</div>
			</div>
		</div>
		<!-- End of Section head -->

		<!-- Section body -->
		<div class="container">
			<div class="section items-carousel-wrapper">
				<div class="slick-carousel items-carousel-slick-3">
					//@@for(var i = 0; i < 10; i++) {
					//@@include('ui-card-style-profile.html')
					}
				</div>
				<div class="items-carousel-slick-arrows"></div>
			</div>
		</div>
		<!-- End of Section body -->

	</div>
</section>
<!-- End of Section: Section -->