<!-- Catalog Settings -->
<section class="section catalog-settings">
	<div class="inner">
		<div class="sorting">
			<div class="ui tooltip style-hover style-dropdown">
				<div class="tooltip-head">Самые новые</div>
				<div class="tooltip-body">
					<div class="dropdown-list">
						<div class="list-item is-selected">
							<div class="title">Сначала дешевые</div>
						</div>
						<div class="list-item">
							<div class="title">Сначала дорогие</div>
						</div>
						<div class="list-item">
							<div class="title">Новые</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="view">
			<div class="toggle is-selected">
				<i class="fas fa-th"></i>
			</div>
			<div class="toggle">
				<i class="fa fa-list"></i>
			</div>
		</div>
	</div>
</section>
<!-- End of Catalog Settings -->