<div class="ui card style-product">
	<a href="#.">
		<div class="image">
			<img src="//placehold.it/200x320" alt="">
		</div>
	</a>
	<div class="title">
		<h3><a href="#.">Как говорить, чтобы дети слушали, как слушать, что...</a></h3>
	</div>
	<div class="author">
		<a href="#.">Фабер А.</a>,
		<a href="#.">Мазлиш Э.</a>
	</div>
</div>